html {
	scroll-behavior: smooth;
}
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.b-example-divider {
	height: 1.5rem;
	background-color: rgba(0, 0, 0, 0.1);
	border: solid rgba(0, 0, 0, 0.15);
	border-width: 1px 0;
	box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
		inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
	flex-shrink: 0;
	width: 1.5rem;
	height: 100vh;
}

.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}

.nav-scroller {
	position: relative;
	z-index: 2;
	height: 2.75rem;
	overflow-y: hidden;
}

.nav-scroller .nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.background-image {
	width: 100%;
	position: relative;
	min-height: 632px;
	background-position: center center;
	background-size: cover;
}
#cliffside-view {
	background-image: url('../media/bg-test-2.png');
}
#cliffside-view-2 {
	background-image: url('../media/bg-test-2.png');
}
#workshop-view {
	background-image: url('../media/bg-test-3.png');
}
#chasm-view {
	background-image: url('../media/bg-test-1.png');
}

.display-image {
	border: solid black 7px;
	border-radius: 1rem;
}
#wkCarousel {
	img {
		max-height: 40rem;
		max-width: 40rem;
		display: inline-block !important;
	}
	.carousel-item {
		text-align: center;
	}
}

@media (min-width: 986px) {
	.background-image {
		background-attachment: fixed;
	}
	.carousel-control-prev-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23343a40' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
	}
	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23343a40' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
	}
}
footer {
	margin: 0 !important;
}
